<!doctype html>
<html>

  <head>
    <title> Not So Diffi(cult) </title>
    <!--<link href="main.css" rel="stylesheet" type="text/css"/>-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
  </head>

  <body>

    <p>
    Not So Diffi(cult) website<br>
    Niet onder constructie
    </p>

    <ul class="menu">
      <li><a href="home" class="menukleur">Home</a></li>
      <li><a href="shop" class="menukleur">Shop</a></li>
      <li>Archief</li>
      <li><a href="contact" class="menukleur">Contact</a></li>
    </ul>

    <p class="Archief">
      <a href="BertVerstreken" class="namen">Bert Verstreken</a><br>
      <a href="IKRAAAN" class="namen">IKRAAAN</a><br>
      <a href="ArthurBrouns" class="namen">Arthur Brouns</a><br>
    </p>

    <!--<script src="jquery-3.3.1.min.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <script src="application.js"></script>

  </body>

  <footer id="footer">2020 Not So Diffi(cult)</footer>

</html>
