<!doctype html>
<html>
  <body>
    <p>
    Not So Diffi(cult) website<br>
    Niet onder constructie
    </p>
    <div class= "flex-container">
      <ul class="menu flex-item1">
        <li><a href="home" class="menu-item">Home</a></li>
        <li><a href="shop" class="menu-item">Shop</a></li>
        <li>Archief</li>
        <li><a href="contact" class="menu-item">Contact</a></li>
      </ul>

      <ul class="menu flex-item2">
        <br>
        <br>
        <li></li><a href="BertVerstreken" class="menu-item">Bert Verstreken</a><br></li>
        <li><a href="IKRAAAN" class="menu-item">IKRAAAN</a><br></li>
        <li><a href="ArthurBrouns" class="menu-item">Arthur Brouns</a><br></li>
      </ul>
      <div class="menu flex-item3">
        <br>
      </div>
    </div>
    <script src="application.js"></script>
  </body>
</html>
