<!doctype html>
<html>
	<body>
		<p>
		Not So Diffi(cult) website<br>
		Niet onder constructie
		</p>

    <div class="flex-container">
      <ul class="menu flex-item1">
        <li><a href="home" class="menu-item">Home</a></li>
        <li><a href="shop" class="menu-item">Shop</a></li>
        <li>Archief</li>
        <li><a href="contact" class="menu-item">Contact</a></li>
      </ul>

      <ul class="menu flex-item2">
        <br>
        <br>
        <li><a href="BertVerstreken" class="menu-item">Bert Verstreken</a></li>
        <li><a href="IKRAAAN" class="menu-item">IKRAAAN</a></li>
        <li>Arthur Brouns</li>
      </ul>

      <div class="menu flex-item3">
        <%= image_tag "arthur.jpg", :class => "image", :alt => "arthur" %>
        <p>
          Het tweede muzikale leven van Arthur Brouns <br> <br>
          De binnenplaats van de anti-kraakgemeenschap in Elsene is verzorgd. Er is een grasveld met picknickbanken en een moestuin die zorgvuldig bewaterd wordt door een van de bewoners. Een slaperige kat vervult zijn rol als opzichter en houdt de binnenstromende bezoekers nauwlettend in de gaten. Moest je niet beter weten dan was dit een openbaar park op schaalversie. Het is putje zomer, en het plantje dat we als bedanking mee hebben, begeeft het net niet onder de hitte. Vier verdiepingen boven ons steekt iemand zijn hoofd uit het raam. Met de opgewekte welkom die naar beneden valt, weten we dat de gastheer van dienst ons gezien heeft.
        </p>
        <iframe src="https://open.spotify.com/embed/playlist/49U3L1X7cflBva5cR9iulI" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </body>
</html>
