<!doctype html>
<html>

	<head>
		<title> Not So Diffi(cult) </title>
		<link href="main.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	</head>

	<body>

		<p>
		Not So Diffi(cult) website<br>
		Niet onder constructie
		</p>

		<ul class="menu">
			<li><a href="/" class="menukleur">Home</a></li>
			<li><a href="shop" class="menukleur">Shop</a></li>
			<li>Archief</li>
			<li><a href="contact" class="menukleur">Contact</a></li>
		</ul>

		<p class="Archief">
			Bert Verstreken <br>
			<a href="IKRAAAN" class="namen">IKRAAAN</a><br>
			<a href="ArthurBrouns" class="namen">Arthur Brouns</a><br>
		</p>

    <%= image_tag "bert.jpg", :class => "image", :alt => "bert" %>

		<p class="tekst">
			De kunst van het blijven zoeken<br><br>
			Een rijtjeshuis aan een steenweg van een slaperig stadje. <br>
			De modale gevel van BertVerstreken geeft niet veel prijs van wat er achter schuilgaat,<br>
			maar laat het nu net dat zijn waar we voor komen. We nemen een kijkje in de collectie <br>
			van de man die we gerust de lokale muziekencyclopedie kunnen noemen.
		</p>

    <!-- <script src="jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="main.js"></script> -->

  </body>

	<footer id="footer"> 2020 Not So Diffi(cult)</footer>

</html>
