<!doctype html>
<html>
	<body>

		<p>
		Not So Diffi(cult) website<br>
		Niet onder constructie
		</p>

    <div class="flex-container">
      <ul class="menu flex-item1">
        <li><a href="home" class="menu-item">Home</a></li>
        <li><a href="shop" class="menu-item">Shop</a></li>
        <li>Archief</li>
        <li><a href="contact" class="menu-item">Contact</a></li>
      </ul>

      <ul class="menu flex-item2">
        <br>
        <br>
        <li>Bert Verstreken</li>
        <li><a href="IKRAAAN" class="menu-item">IKRAAAN</a></li>
        <li><a href="ArthurBrouns" class="menu-item">Arthur Brouns</a></li>
      </ul>

      <div class="menu flex-item3">
        <%= image_tag "bert.jpg", :class => "image", :alt => "bert" %>
        <p>
        De kunst van het blijven zoeken<br><br>
        Een rijtjeshuis aan een steenweg van een slaperig stadje. <br>
        De modale gevel van BertVerstreken geeft niet veel prijs van wat er achter schuilgaat,<br>
        maar laat het nu net dat zijn waar we voor komen. We nemen een kijkje in de collectie <br>
        van de man die we gerust de lokale muziekencyclopedie kunnen noemen.
        </p>
        <iframe src="https://open.spotify.com/embed/playlist/3mbjWeGPg99r7JpM2EpiYW" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </body>
</html>
