<!doctype html>
<html>
  <body>

    <p>
    Not So Diffi(cult) website<br>
    Niet onder constructie
    </p>

    <div class="flex-container">
      <ul class="menu flex-item1">
        <li><a href="home" class="menu-item">Home</a></li>
        <li><a href="shop" class="menu-item">Shop</a></li>
        <li><a href="archief" class="menu-item">Archief</a></li>
        <li>Contact</a></li>
      </ul>

      <ul class="menu flex-item2">
        <br>
        <br>
        <br>
        <li><a href="https://www.instagram.com/notsodifficult.magazine/" class="menu-item" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/notsodifficult/" class="menu-item" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/nsd_magazine" class="menu-item" target="_blank">Twitter</a></li>
        <li><a href="mailto:notsodifficultmagazine@gmail.com" class="menu-item">Email</a></li>
      </ul>

      <div class="menu flex-item3">
        <br>
      </div>
    </div>

  </body>
</html>
