<!doctype html>
<html>

  <head>
    <title> Not So Diffi(cult) </title>
  </head>

  <body>
    <p>
    Not So Diffi(cult) website<br>
    Niet onder constructie
    </p>

    <div class= "flex-container">
      <ul class="menu flex-item1">
        <li><a href="home" class="menu-item">Home</a></li>
        <li><a href="shop" class="menu-item">Shop</a></li>
        <li><a href="archief" class="menu-item">Archief</a></li>
        <li><a href="contact" class="menu-item">Contact</a></li>
      </ul>
    </div>

    <p>
      Welkom op ons onlineplatform! <br>
      <br>
      Luister hier naar een willekeurige playlist,<br>
      samengesteld door een van onze geïnterviewden.<br>
      <br>
      Elke week wordt een nieuwe playlist geüpload.<br>
      Ga naar het archief om ze te herbeluisteren.
    </p>

    <img src="vraagteken.jpg" alt="fout" id="fout">

    <p id="oei">
    oei
    <br>
          -->
    </p>

    <%= image_tag "profielfoto2.jpg", :id => "logo", :alt => "logo"%>

    <% spotify_list = ["https://open.spotify.com/embed/playlist/4AFhf96x3PDPKIvIDzoggu", "https://open.spotify.com/embed/playlist/49U3L1X7cflBva5cR9iulI", "https://open.spotify.com/embed/playlist/3mbjWeGPg99r7JpM2EpiYW"] %>

    <% random_spotify = spotify_list.sample %>

    <iframe src= "<%= random_spotify %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" id="spotify"></iframe>

    <script type="text/javascript">
      var x = window.matchMedia("(max-width: 1024px)")
      myFunction(x) // Call listener function at run time
      x.addListener(myFunction) // Attach listener function on state changes

      function myFunction(x) {
        if (x.matches) { // If media query matches
          document.getElementById("fout").onclick = function() {showLogo()};
        } else {
          document.getElementById("fout").onmouseover = function() {showLogo()};
          document.getElementById("fout").onmouseout = function() {hideLogo()};
        }
      }

      function showLogo() {
        document.getElementById("oei").style.display = "block";
        document.getElementById("logo").style.display = "block";
      }

      function hideLogo() {
        document.getElementById("oei").style.display = "none";
        document.getElementById("logo").style.display = "none";
      }
    </script>
  </body>
</html>
