<!doctype html>
<html>

  <head>
    <title> Not So Diffi(cult) </title>
  </head>

  <body>
    <p>
    Not So Diffi(cult) website<br>
    Niet onder constructie
    </p>

    <div class= "flex-container">
      <ul class="menu flex-item1">
        <li>Home</li>
        <li><a href="shop" class="menu-item">Shop</a></li>
        <li><a href="archief" class="menu-item">Archief</a></li>
        <li><a href="contact" class="menu-item">Contact</a></li>
      </ul>
    </div>

    <p>
      Welkom op ons onlineplatform! <br>
      <br>
      Luister hier naar een willekeurige playlist,<br>
      samengesteld door een van onze geïnterviewden.<br>
      <br>
      Elke week wordt een nieuwe playlist geüpload.<br>
      Ga naar het archief om ze te herbeluisteren.
    </p>

    <img src="vraagteken.jpg" alt="fout" id="fout">

    <p id="oei">
    oei
    <br>
          -->
    </p>

    <%= image_tag "profielfoto2.jpg", :id => "logo", :alt => "logo"%>

    <iframe src="https://open.spotify.com/embed/playlist/4AFhf96x3PDPKIvIDzoggu" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" id="spotify"></iframe>


<!-- Begin Mailchimp Signup Form -->

    <div id="mc_embed_signup">

      <form action="https://gmail.us2.list-manage.com/subscribe/post?u=3f35bd3811f9d7a90b0eedb37&amp;id=bde0724c85" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div id="mc_embed_signup_scroll">

          <p>Abonneer je op de nieuwsbrief</p>

          <div class="mc-field-group">
            <label for="mce-EMAIL">Emailadres
            </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3f35bd3811f9d7a90b0eedb37_bde0724c85" tabindex="-1" value=""></div>

          <div class="clear">
            <input style="font-family: courier new; background-color: white; outline: none; border-style: none; color: blue; cursor: pointer; padding: 0;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" id="subscibe-button" class="button">
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->

    <script type="text/javascript">
      var x = window.matchMedia("(max-width: 1024px)")
      myFunction(x) // Call listener function at run time
      x.addListener(myFunction) // Attach listener function on state changes

      function myFunction(x) {
        if (x.matches) { // If media query matches
          document.getElementById("fout").onclick = function() {showLogo()};
        } else {
          document.getElementById("fout").onmouseover = function() {showLogo()};
          document.getElementById("fout").onmouseout = function() {hideLogo()};
        }
      }

      function showLogo() {
        document.getElementById("oei").style.display = "block";
        document.getElementById("logo").style.display = "block";
      }

      function hideLogo() {
        document.getElementById("oei").style.display = "none";
        document.getElementById("logo").style.display = "none";
      }
    </script>

  </body>

  <footer id="footer"> 2020 Not So Diffi(cult)</footer>

</html>
