<!doctype html>
<html>
	<body>
		<p>
		Not So Diffi(cult) website<br>
		Niet onder constructie
		</p>

    <div class="flex-container">
      <ul class="menu flex-item1">
        <li><a href="home" class="menu-item">Home</a></li>
        <li><a href="shop" class="menu-item">Shop</a></li>
        <li>Archief</li>
        <li><a href="contact" class="menu-item">Contact</a></li>
      </ul>

      <ul class="menu flex-item2">
        <br>
        <br>
        <li><a href="BertVerstreken" class="menu-item">Bert Verstreken</a></li>
        <li>IKRAAAN</li>
        <li><a href="ArthurBrouns" class="menu-item">Arthur Brouns</a></li>
      </ul>

      <div class="flex-item3">
        <%= image_tag "ikraaan.jpg", :class => "image", :alt => "IKRAAAN" %>

        <p>
          Prinses glitter in het land der blinden <br><br>
          Op 18 september, tegen het einde van een broeiende nazomerweek, weerklonk de zwoele stem van IKRAAAN in Antwerpen. Ze was te zien in Permeke; een gewezen garagecomplex aan het Antwerpse De Coninckplein, dat nu omgebouwd is tot bibliotheek en culturele ontmoetingsplaats. Nog voor haar optreden in de bib, treffen we de 22-jarige zangeresperformer in de backstage, die naar een leeg theaterzaaltje leidt. De tribunes zijn er ingeklapt en het felle plafondlicht onthult de kaalte van de ruimte. De onbemande stilte, typerend voor het culturele leven dat op een lager pitje brandt, wordt doorbroken door de rode zetels die we op het podium naar elkaar toe schuiven. Samen met een klein tafeltje vormen ze het decor voor een gesprek met Ikraan Haji, over sterrendom, eigenliefde, het gevaar van fangirlen, en haar geplande debuutalbum bij Fake Records.
        </p>

        <iframe src="https://open.spotify.com/embed/playlist/4AFhf96x3PDPKIvIDzoggu" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

      </div>
    </div>
  </body>
</html>
