<!doctype html>
<html>

  <head>
    <title> Not So Diffi(cult) </title>
    <link href="main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>

    <p class="header">
    Not So Diffi(cult) website<br>
    Niet onder constructie
    </p>

    <div class="flex-container">
      <ul class="menu flex-item1">
        <li><a href="home" class="menu-item">Home</a></li>
        <li>Shop</li>
        <li><a href="archief" class="menu-item">Archief</a></li>
        <li><a href="contact" class="menu-item">Contact</a></li>
      </ul>

      <ul class="menu flex-item2">
        <br>
        <li>Wel onder constructie</li>
      </ul>

      <div class="menu flex-item3">
        <br>
      </div>
    </div>

  </body>

  <footer id="footer"> 2020 Not So Diffi(cult)</footer>

</html>
