<!doctype html>
<html>

  <head>
    <title> Not So Diffi(cult) </title>
    <link href="main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>

    <p class="header">
    Not So Diffi(cult) website<br>
    Niet onder constructie
    </p>

    <ul class="menu">
      <li><a href="/" class="menukleur">Home</a></li>
      <li>Shop</li>
      <li><a href="archief" class="menukleur">Archief</a></li>
      <li><a href="contact" class="menukleur">Contact</a></li>
    </ul>

    <p class='Archief'>Wel onder constructie</p>

    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="main.js"></script>

  </body>

  <footer id="footer"> 2020 Not So Diffi(cult)</footer>

</html>
