// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.

body {
  font-size: 16px;
  font-family: courier new;
  margin: 1vw;
  margin-bottom: 5vw;
}

.menu {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

.menu-item {
  color: blue;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item1 {
  width: 5%;
  padding-left: 2vw;
  margin: 0;
}

.flex-item2 {
  width: 15%;
  margin: 0;
}

.flex-item3 {
  width: 75%;
  margin: 0;
}

.flex-item-half {
  flex: 50%;
  margin: 0;
}

#mc-embedded-subscribe {
  font-size: 16px;
  font-family: courier new;
  background-color: white;
  border-style: none;
  color: blue;
  outline: none;
  cursor: pointer;
  padding: 0;
}


@media(max-width: 1024px) {
  body {
    font-size: 38px;
    margin-top: 1vw;
  }

  #mc-embedded-subscribe {
    font-size: 38px;
  }

  .flex-item1 {
    padding: 1vw;
    flex: 25%;
    padding-left: 2vw;
    margin: 0;
  }

  .flex-item2 {
    padding: 1vw;
    flex: 65%;
    margin: 0;
  }

  .flex-item3 {
    padding: 1vw;
    padding-top: 5vw;
    flex: 100%;
    margin: 0;
  }
}

#footer{
  display: block;
  position: fixed;
  margin-left: auto;
  bottom: 0;
}

#oei{
    display: none;
}

#fout{
  color: blue;
  cursor: pointer;
}

#logo{
  display: none;
  width: 30%;
}

#spotify{
  display: block;
  margin-top: 50px;
}

.tekst{
  position: absolute;
  margin-left: 305px;
  margin-right: 10px;
  top: 600px;
}

.clear {
  font-family: courier new;
  background-color: white;
  border: none;
  color: red;
}

.row {
  position: absolute;
  margin-left: 305px;
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.image {
  width: 300px;
}
